@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.footer__Container{
    background-color: gray;
}

.footer__Icons > button{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

.footer__Copy{
    color:'white' ;
    font-Weight:'bold';
    font-family: 'Poppins', sans-serif;
}